$theme-colors: (
  "primary": #6610f2,
  "secondary": #FFE200
);

$body-bg: #f8f9fa;

//noinspection CssUnknownTarget
@import "node_modules/bootstrap/scss/bootstrap";

.jumbotron {
  padding-top: 100px;
}

.contentBody {
  padding-top: 96px;
  padding-bottom: 46px;
}
